<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title},~{::script})}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>All Contacts</title>
</head>

<body>
  <div id="content">
    <!-- SideBar content for the loggedInUsers -->
    <div data-th-if="${loggedInUser}">
      <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20">
      <div>
        <h1 class="text-5xl text-center font-bold">Contact List</h1>
        <p class="text-center text-2xl font-semibold" th:text="'Total contacts : ' +${pageContacts.totalElements}">

        </p>

        <div class="contact_container p-5">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

            <div th:replace="~{message :: messagebox}"></div>

            <!-- Search bar Form -->
            <div class="flex bg-white dark:bg-gray-900 justify-between items-center">
              <form th:unless="${pageContacts.empty}" action="" th:object="${contactSearchForm}"
                th:action="@{'/user/contacts/search'}">
                <div
                  class="flex space-x-4 p-5 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4">

                  <!-- Select box -->
                  <div>
                    <select id="countries_disabled" name="catagory" th:field="*{field}"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                      <option selected value="">Choose a Catagory</option>
                      <option value="name" selected>Name</option>
                      <option value="email">Email</option>
                      <option value="phone">PhoneNumber</option>
                    </select>
                  </div>
                  <!-- Search box -->
                  <label for="table-search" class="sr-only">Search</label>
                  <div class="relative">
                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                      </svg>
                    </div>
                    <input type="text" id="table-search-users" th:field="*{value}" name="keyword"
                      class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Search for users" />
                  </div>

                  <button type="submit"
                    class="px-5 py-2 rounded bg-gray-700 hover:bg-gray-800 text-white">Search</button>
                </div>
              </form>

              <div class="px-2">
                <button type="button" onclick="exportData()"
                  class="px-5 py-2 rounded bg-green-700 hover:bg-gray-800 text-white">Export</button>
              </div>


            </div>

            <!-- Table  -->
            <table 
            id="contact_table"
            th:unless="${pageContacts.empty}"
              class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3">Name</th>
                  <th scope="col" class="px-6 py-3">Number</th>
                  <th scope="col" class="px-6 py-3">Fav / Links</th>
                  <th scope="col" class="px-6 py-3">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:object="${c}" th:each="c : ${pageContacts.getContent()
                }"
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-900">
                  <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <!-- profile image  -->
                    <img class="w-10 h-10 rounded-full" th:src="@{*{picture}}" alt="Jese image" />
                    <!-- Name  -->
                    <div class="ps-3">
                      <div class="text-base font-semibold" data-th-text="*{name}">
                        Neil Sims
                      </div>
                      <!-- Email  -->
                      <div class="font-normal text-gray-500">
                        <span th:text="*{email}">
                          neil.sims@flowbite.com
                        </span>
                      </div>
                    </div>
                  </th>
                  <!-- phoneNumber -->
                  <td class="px-6 py-4">
                    <i class="fa-solid fa-phone w-4 h-4"></i>
                    <span th:text="*{phoneNumber}"> phoneNumber </span>
                  </td>
                  <!-- Links -->
                  <td class="px-6 py-4">
                    <div class="flex items-center gap-2">
                      <div data-th-if="*{favourite}" class="h-3.5 w-3.5 rounded-full bg-green-600 me-3"></div>

                      <a th:href="@{*{websiteLink}}" target="_blank"><i
                          class="fa-solid fa-globe w-6 h-6 hover:text-blue-300 dark:hover:text-gray-700"></i></a>

                      <a th:href="@{*{linkedInLink}}" target="_blank"><i
                          class="fa-brands fa-linkedin-in w-6 h-6 hover:text-blue-700 dark:hover:text-gray-700"></i>
                      </a>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <!-- Action Buttons -->
                    <div>
                      <!-- Edit button  -->
                      <a th:href="@{'/user/contacts/view/' + *{id}}"
                        class="p-2 hover:text-blue-500 dark:hover:text-gray-700">
                        <i class="fa-solid fa-user-pen"></i>
                      </a>
                      <!-- Delete button  -->
                      <!-- <a th:href="@{'/user/contacts/delete/' + *{id}}" class="p-2 hover:text-blue-500 dark:hover:text-gray-700">
                        <i class="fa-solid fa-trash-can"></i>
                      </a> -->
                      <button th:onclick="deleteContact([[${c.id}]])"
                        class="p-2 hover:text-blue-500 dark:hover:text-gray-700">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                      <!-- View button  -->
                      <button th:data-id="${c.id}" th:onclick="loadContactData(this.getAttribute('data-id'))"
                        class="p-2 hover:text-blue-500 dark:hover:text-gray-700">
                        <i class="fa-solid fa-eye"></i>
                      </button>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>

            <!-- pagination -->
            <div th:unless="${pageContacts.empty}"
              class="pagination_container b p-10 bg-white dark:bg-gray-800 text-center">
              <nav aria-label="Page navigation example">
                <ul class="inline-flex -space-x-px text-base h-10">

                  <li data-th-unless="${pageContacts.first}">
                    <a data-th-href="@{'/user/contacts?size='+${size}+'&page='+${pageContacts.number-1}}" href="#"
                      class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                  </li>

                  <li data-th-each="index : ${#numbers.sequence(0,pageContacts.totalPages-1)}">
                    <a data-th-href="@{'/user/contacts?size='+${size}+'&page='+${index}}"
                      data-th-classappend="${index==pageContacts.number? 'bg-blue-100 dark:bg-gray-700': 'bg-white dark:bg-gray-800'}"
                      href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500
                      border border-gray-300 hover:bg-gray-100 hover:text-gray-700  dark:border-gray-700
                      dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                      <span data-th-text="${index+1}"></span></a>
                  </li>
                  <li data-th-unless="${pageContacts.last}">
                    <a href="#" data-th-href="@{'/user/contacts?size='+${size}+'&page='+${pageContacts.number+1}}"
                      class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                  </li>
                </ul>
              </nav>
            </div>

            <!-- if no contact available message -->
            <p th:if="${pageContacts.empty}" class="text-2xl font-semibold text-red-600 text-center bg-white">No contact
              Available</p>

          </div>
        </div>
      </div>

      <!-- modal content of the user  -->
      <div th:replace="~{user/contact_modal :: contact_modal}"></div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
  <script th:src="@{'/js/contacts.js'}"></script>
  <script>
    function exportData() {
      TableToExcel.convert(document.getElementById("contact_table"), {
        name: "contact.xlsx",
        sheet: {
          name: "Sheet 1"
        }
      });
    }
  </script>
</body>

</html>