<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content}, ~{::title},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title data-th-text="${loggedInUser.name}+' | SCM Dashboard'">Dashboard page</title>
  </head>
  <body>

    <div  id="content">

          <!-- SideBar content for the loggedInUsers -->
       <div data-th-if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-20">
            <div class="flex justify-center flex-col items-center">
              <h1 class="text-5xl">This is Dashboard page</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias,
                ratione.
              </p>
            </div>
          </div>

    </div>
    

    <script>
      console.log("This is profile page");
    </script>
  </body>
</html>
