<!DOCTYPE html>
<html
  class="light"
  lang="en"
  th:fragment="parent(content,title,script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-th-replace="${title}">Base Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />

    <link rel="stylesheet" data-th-href="@{'/css/style.css'}" />

    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body class="bg-gray-100 dark:bg-gray-800 dark:text-white">
   

    <!-- Navigation content for the loggedInUsers -->
    <div data-th-if="${loggedInUser}">
      <div data-th-replace="~{user/user_navbar :: user-navbar}"></div>
    </div>
     <!-- Navigation content for not loggedInUsers -->
     <div data-th-unless="${loggedInUser}">
      <div data-th-replace="~{navbar :: navbar}"></div>
      </div>



    <!-- Main Content -->
    <div class="p-4">
      <section data-th-replace="${content}"></section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{/js/script.js}"></script>
    <th:block data-th-replace="${script}"></th:block>
  </body>
</html>
