<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" data-th-href="@{'/css/output.css'}"> -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <title>Home page</title>
</head>
<body>

    <div id="content">
        <h1>This is home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quae facilis nemo assumenda. Expedita consequuntur distinctio veniam autem mollitia maiores porro iste itaque, voluptatibus, ipsum provident quidem, ipsam similique nostrum.</p>
        

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
    
</html>